<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil?%>
    <div class="card-body">
      <p class="card-text">
        <span>
          <%= link_to portfolio.title, portfolio_show_path(portfolio) %>
        </span>
        <p><%= portfolio.subtitle %></p>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <%= link_to 'Edit', edit_portfolio_path(portfolio) %> -
<%= link_to 'Deletar portfolio', portfolio_path(portfolio), method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
