<p id="notice"><%= notice %></p>

<h1>Portfolios</h1>

    <% @portfolios.each do |portf| %>
        <p><%= portf.title %></p>
        <p><%= portf.subtitle %></p>
        <p><%= portf.body %></p>
        <p><%= link_to 'Show', portf %> -
        <%= link_to 'Edit', edit_blog_path(portf) %> - 
        <%= link_to 'Destroy', portf, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <%= image_tag portf.thumb_image unless portf.thumb_image.nil?%>
    <% end %>

<br>
